@model SuperOnline_ASP_NET_MVC.Models.Contenido_Listas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Contenido_Listas</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contenido_listas_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contenido_listas_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lista.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lista.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tipos.categoria)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipos.categoria)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
