@model IEnumerable<SuperOnline_ASP_NET_MVC.Models.Contenido_Listas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.contenido_listas_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lista.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipos.categoria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.contenido_listas_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lista.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipos.categoria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
